<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.megagao.production.ssm.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.megagao.production.ssm.domain.vo.NoticeVO" >
    <id column="notice_id" property="noticeId" jdbcType="VARCHAR" />
    <result column="notice_type" property="noticeType" jdbcType="VARCHAR" />
    <result column="notice_theme" property="noticeTheme" jdbcType="VARCHAR" />
    <result column="notice_date" property="noticeDate" jdbcType="TIMESTAMP" />
    <result column="notice_note" property="noticeNote" jdbcType="VARCHAR" />
    <result column="notice_file" property="noticeFile" jdbcType="VARCHAR" />
    <association property="employee" javaType="employee">
     <id column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="join_date" property="joinDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="graduate_school" property="graduateSchool" jdbcType="VARCHAR" />
    <result column="education_form" property="educationForm" jdbcType="VARCHAR" />
    </association>
  </resultMap>
	<!-- 扩展的sql -->
	<!-- 查询所有记录 -->
	<select id="find" parameterType="NoticeVO" resultMap="BaseResultMap">
		SELECT
			notice_id,
			notice_type,
			notice_theme,
			notice_date,
			emp_id,
			notice_note,
			notice_file
		FROM
			notice
		<!-- LEFT JOIN employee ON notice.emp_id = employee.emp_id -->
	</select>
	
	<select id="searchNoticeByNoticeId" parameterType="string" resultMap="BaseResultMap">
		SELECT
			notice_id,
			notice_type,
			notice_theme,
			notice_date,
			emp_id,
			notice_note,
			notice_file
		FROM
			notice
		WHERE 
			notice_id like CONCAT('%',#{noticeId},'%' ) 
	</select>
	
	<select id="searchNoticeByNoticeType" parameterType="string" resultMap="BaseResultMap">
		SELECT
			notice_id,
			notice_type,
			notice_theme,
			notice_date,
			emp_id,
			notice_note,
			notice_file
		FROM
			notice
		WHERE 
			notice_type like CONCAT('%',#{noticeType},'%' ) 
	</select>
	
	<select id="searchNoticeByNoticeTheme" parameterType="string" resultMap="BaseResultMap">
		SELECT
			notice_id,
			notice_type,
			notice_theme,
			notice_date,
			emp_id,
			notice_note,
			notice_file
		FROM
			notice
		WHERE 
			notice_theme like CONCAT('%',#{noticeTheme},'%' ) 
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		DELETE
		FROM
			notice
		WHERE
			notice_id IN
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<!-- 修改备注-->
	<update id="updateNoticeNote" parameterType="NoticeVO" >
		UPDATE notice
		SET notice_note = #{noticeNote}
		WHERE
			notice_id = #{noticeId,jdbcType=VARCHAR}
	</update>
	
<sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        notice_id, notice_type, notice_theme, notice_date, emp_id, notice_note, notice_file
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.megagao.production.ssm.domain.NoticeExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from notice
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from notice
        where notice_id = #{noticeId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from notice
        where notice_id = #{noticeId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.megagao.production.ssm.domain.NoticeExample" >
        delete from notice
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.megagao.production.ssm.domain.Notice" >
        insert into notice (notice_id, notice_type, notice_theme, 
            notice_date, emp_id, notice_note, 
            notice_file)
        values (#{noticeId,jdbcType=VARCHAR}, #{noticeType,jdbcType=VARCHAR}, #{noticeTheme,jdbcType=VARCHAR}, 
            #{noticeDate,jdbcType=TIMESTAMP}, #{empId,jdbcType=VARCHAR}, #{noticeNote,jdbcType=VARCHAR}, 
            #{noticeFile,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.megagao.production.ssm.domain.Notice" >
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="noticeId != null" >
                notice_id,
            </if>
            <if test="noticeType != null" >
                notice_type,
            </if>
            <if test="noticeTheme != null" >
                notice_theme,
            </if>
            <if test="noticeDate != null" >
                notice_date,
            </if>
            <if test="empId != null" >
                emp_id,
            </if>
            <if test="noticeNote != null" >
                notice_note,
            </if>
            <if test="noticeFile != null" >
                notice_file,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="noticeId != null" >
                #{noticeId,jdbcType=VARCHAR},
            </if>
            <if test="noticeType != null" >
                #{noticeType,jdbcType=VARCHAR},
            </if>
            <if test="noticeTheme != null" >
                #{noticeTheme,jdbcType=VARCHAR},
            </if>
            <if test="noticeDate != null" >
                #{noticeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="empId != null" >
                #{empId,jdbcType=VARCHAR},
            </if>
            <if test="noticeNote != null" >
                #{noticeNote,jdbcType=VARCHAR},
            </if>
            <if test="noticeFile != null" >
                #{noticeFile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.megagao.production.ssm.domain.NoticeExample" resultType="java.lang.Integer" >
        select count(*) from notice
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update notice
        <set >
            <if test="record.noticeId != null" >
                notice_id = #{record.noticeId,jdbcType=VARCHAR},
            </if>
            <if test="record.noticeType != null" >
                notice_type = #{record.noticeType,jdbcType=VARCHAR},
            </if>
            <if test="record.noticeTheme != null" >
                notice_theme = #{record.noticeTheme,jdbcType=VARCHAR},
            </if>
            <if test="record.noticeDate != null" >
                notice_date = #{record.noticeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.empId != null" >
                emp_id = #{record.empId,jdbcType=VARCHAR},
            </if>
            <if test="record.noticeNote != null" >
                notice_note = #{record.noticeNote,jdbcType=VARCHAR},
            </if>
            <if test="record.noticeFile != null" >
                notice_file = #{record.noticeFile,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update notice
        set notice_id = #{record.noticeId,jdbcType=VARCHAR},
            notice_type = #{record.noticeType,jdbcType=VARCHAR},
            notice_theme = #{record.noticeTheme,jdbcType=VARCHAR},
            notice_date = #{record.noticeDate,jdbcType=TIMESTAMP},
            emp_id = #{record.empId,jdbcType=VARCHAR},
            notice_note = #{record.noticeNote,jdbcType=VARCHAR},
            notice_file = #{record.noticeFile,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.megagao.production.ssm.domain.Notice" >
        update notice
        <set >
            <if test="noticeType != null" >
                notice_type = #{noticeType,jdbcType=VARCHAR},
            </if>
            <if test="noticeTheme != null" >
                notice_theme = #{noticeTheme,jdbcType=VARCHAR},
            </if>
            <if test="noticeDate != null" >
                notice_date = #{noticeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="empId != null" >
                emp_id = #{empId,jdbcType=VARCHAR},
            </if>
            <if test="noticeNote != null" >
                notice_note = #{noticeNote,jdbcType=VARCHAR},
            </if>
            <if test="noticeFile != null" >
                notice_file = #{noticeFile,jdbcType=VARCHAR},
            </if>
        </set>
        where notice_id = #{noticeId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.megagao.production.ssm.domain.Notice" >
        update notice
        set notice_type = #{noticeType,jdbcType=VARCHAR},
            notice_theme = #{noticeTheme,jdbcType=VARCHAR},
            notice_date = #{noticeDate,jdbcType=TIMESTAMP},
            emp_id = #{empId,jdbcType=VARCHAR},
            notice_note = #{noticeNote,jdbcType=VARCHAR},
            notice_file = #{noticeFile,jdbcType=VARCHAR}
        where notice_id = #{noticeId,jdbcType=VARCHAR}
    </update>
</mapper>