<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.megagao.production.ssm.mapper.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.megagao.production.ssm.domain.vo.PlanVO" >
    <id column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="plan_type" property="planType" jdbcType="VARCHAR" />
    <result column="plan_theme" property="planTheme" jdbcType="VARCHAR" />
    <result column="plan_date" property="planDate" jdbcType="TIMESTAMP" />
    <result column="plan_note" property="planNote" jdbcType="VARCHAR" />
    <result column="plan_file" property="planFile" jdbcType="VARCHAR" />
    <association property="employee" javaType="employee">
     <id column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="join_date" property="joinDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="graduate_school" property="graduateSchool" jdbcType="VARCHAR" />
    <result column="education_form" property="educationForm" jdbcType="VARCHAR" />
    </association>
  </resultMap>
	<!-- 扩展的sql -->
	<!-- 查询所有记录 -->
	<select id="find" parameterType="PlanVO" resultMap="BaseResultMap">
		SELECT
			plan_id,
			plan_type,
			plan_theme,
			plan_date,
			emp_id,
			plan_note,
			plan_file
		FROM
			plan
		<!-- LEFT JOIN employee ON plan.emp_id = employee.emp_id -->
	</select>
	
	<select id="searchPlanByPlanId" parameterType="string" resultMap="BaseResultMap">
		SELECT
			plan_id,
			plan_type,
			plan_theme,
			plan_date,
			emp_id,
			plan_note,
			plan_file
		FROM
			plan
		WHERE 
			plan_id like CONCAT('%',#{planId},'%' ) 
	</select>
	
	<select id="searchPlanByPlanType" parameterType="string" resultMap="BaseResultMap">
		SELECT
			plan_id,
			plan_type,
			plan_theme,
			plan_date,
			emp_id,
			plan_note,
			plan_file
		FROM
			plan
		WHERE 
			plan_type like CONCAT('%',#{planType},'%' ) 
	</select>
	
	<select id="searchPlanByPlanTheme" parameterType="string" resultMap="BaseResultMap">
		SELECT
			plan_id,
			plan_type,
			plan_theme,
			plan_date,
			emp_id,
			plan_note,
			plan_file
		FROM
			plan
		WHERE 
			plan_theme like CONCAT('%',#{planTheme},'%' ) 
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		DELETE
		FROM
			plan
		WHERE
			plan_id IN
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<!-- 修改备注-->
	<update id="updatePlanNote" parameterType="PlanVO" >
		UPDATE plan
		SET plan_note = #{planNote}
		WHERE
			plan_id = #{planId,jdbcType=VARCHAR}
	</update>
	
<sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        plan_id, plan_type, plan_theme, plan_date, emp_id, plan_note, plan_file
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.megagao.production.ssm.domain.PlanExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from plan
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from plan
        where plan_id = #{planId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from plan
        where plan_id = #{planId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.megagao.production.ssm.domain.PlanExample" >
        delete from plan
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.megagao.production.ssm.domain.Plan" >
        insert into plan (plan_id, plan_type, plan_theme, 
            plan_date, emp_id, plan_note, 
            plan_file)
        values (#{planId,jdbcType=VARCHAR}, #{planType,jdbcType=VARCHAR}, #{planTheme,jdbcType=VARCHAR}, 
            #{planDate,jdbcType=TIMESTAMP}, #{empId,jdbcType=VARCHAR}, #{planNote,jdbcType=VARCHAR}, 
            #{planFile,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.megagao.production.ssm.domain.Plan" >
        insert into plan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="planId != null" >
                plan_id,
            </if>
            <if test="planType != null" >
                plan_type,
            </if>
            <if test="planTheme != null" >
                plan_theme,
            </if>
            <if test="planDate != null" >
                plan_date,
            </if>
            <if test="empId != null" >
                emp_id,
            </if>
            <if test="planNote != null" >
                plan_note,
            </if>
            <if test="planFile != null" >
                plan_file,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="planId != null" >
                #{planId,jdbcType=VARCHAR},
            </if>
            <if test="planType != null" >
                #{planType,jdbcType=VARCHAR},
            </if>
            <if test="planTheme != null" >
                #{planTheme,jdbcType=VARCHAR},
            </if>
            <if test="planDate != null" >
                #{planDate,jdbcType=TIMESTAMP},
            </if>
            <if test="empId != null" >
                #{empId,jdbcType=VARCHAR},
            </if>
            <if test="planNote != null" >
                #{planNote,jdbcType=VARCHAR},
            </if>
            <if test="planFile != null" >
                #{planFile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.megagao.production.ssm.domain.PlanExample" resultType="java.lang.Integer" >
        select count(*) from plan
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update plan
        <set >
            <if test="record.planId != null" >
                plan_id = #{record.planId,jdbcType=VARCHAR},
            </if>
            <if test="record.planType != null" >
                plan_type = #{record.planType,jdbcType=VARCHAR},
            </if>
            <if test="record.planTheme != null" >
                plan_theme = #{record.planTheme,jdbcType=VARCHAR},
            </if>
            <if test="record.planDate != null" >
                plan_date = #{record.planDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.empId != null" >
                emp_id = #{record.empId,jdbcType=VARCHAR},
            </if>
            <if test="record.planNote != null" >
                plan_note = #{record.planNote,jdbcType=VARCHAR},
            </if>
            <if test="record.planFile != null" >
                plan_file = #{record.planFile,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update plan
        set plan_id = #{record.planId,jdbcType=VARCHAR},
            plan_type = #{record.planType,jdbcType=VARCHAR},
            plan_theme = #{record.planTheme,jdbcType=VARCHAR},
            plan_date = #{record.planDate,jdbcType=TIMESTAMP},
            emp_id = #{record.empId,jdbcType=VARCHAR},
            plan_note = #{record.planNote,jdbcType=VARCHAR},
            plan_file = #{record.planFile,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.megagao.production.ssm.domain.Plan" >
        update plan
        <set >
            <if test="planType != null" >
                plan_type = #{planType,jdbcType=VARCHAR},
            </if>
            <if test="planTheme != null" >
                plan_theme = #{planTheme,jdbcType=VARCHAR},
            </if>
            <if test="planDate != null" >
                plan_date = #{planDate,jdbcType=TIMESTAMP},
            </if>
            <if test="empId != null" >
                emp_id = #{empId,jdbcType=VARCHAR},
            </if>
            <if test="planNote != null" >
                plan_note = #{planNote,jdbcType=VARCHAR},
            </if>
            <if test="planFile != null" >
                plan_file = #{planFile,jdbcType=VARCHAR},
            </if>
        </set>
        where plan_id = #{planId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.megagao.production.ssm.domain.Plan" >
        update plan
        set plan_type = #{planType,jdbcType=VARCHAR},
            plan_theme = #{planTheme,jdbcType=VARCHAR},
            plan_date = #{planDate,jdbcType=TIMESTAMP},
            emp_id = #{empId,jdbcType=VARCHAR},
            plan_note = #{planNote,jdbcType=VARCHAR},
            plan_file = #{planFile,jdbcType=VARCHAR}
        where plan_id = #{planId,jdbcType=VARCHAR}
    </update>
</mapper>