<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.megagao.production.ssm.mapper.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.megagao.production.ssm.domain.vo.ReportVO" >
    <id column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="report_type" property="reportType" jdbcType="VARCHAR" />
    <result column="report_theme" property="reportTheme" jdbcType="VARCHAR" />
    <result column="report_date" property="reportDate" jdbcType="TIMESTAMP" />
    <result column="report_note" property="reportNote" jdbcType="VARCHAR" />
    <result column="report_file" property="reportFile" jdbcType="VARCHAR" />
    <association property="employee" javaType="employee">
     <id column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="join_date" property="joinDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="graduate_school" property="graduateSchool" jdbcType="VARCHAR" />
    <result column="education_form" property="educationForm" jdbcType="VARCHAR" />
    </association>
  </resultMap>
	<!-- 扩展的sql -->
	<!-- 查询所有记录 -->
	<select id="find" parameterType="ReportVO" resultMap="BaseResultMap">
		SELECT
			report_id,
			report_type,
			report_theme,
			report_date,
			emp_id,
			report_note,
			report_file
		FROM
			report
		<!-- LEFT JOIN employee ON report.emp_id = employee.emp_id -->
	</select>
	
	<select id="searchReportByReportId" parameterType="string" resultMap="BaseResultMap">
		SELECT
			report_id,
			report_type,
			report_theme,
			report_date,
			emp_id,
			report_note,
			report_file
		FROM
			report
		WHERE 
			report_id like CONCAT('%',#{reportId},'%' ) 
	</select>
	
	<select id="searchReportByReportType" parameterType="string" resultMap="BaseResultMap">
		SELECT
			report_id,
			report_type,
			report_theme,
			report_date,
			emp_id,
			report_note,
			report_file
		FROM
			report
		WHERE 
			report_type like CONCAT('%',#{reportType},'%' ) 
	</select>
	
	<select id="searchReportByReportTheme" parameterType="string" resultMap="BaseResultMap">
		SELECT
			report_id,
			report_type,
			report_theme,
			report_date,
			emp_id,
			report_note,
			report_file
		FROM
			report
		WHERE 
			report_theme like CONCAT('%',#{reportTheme},'%' ) 
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		DELETE
		FROM
			report
		WHERE
			report_id IN
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<!-- 修改备注-->
	<update id="updateReportNote" parameterType="ReportVO" >
		UPDATE report
		SET report_note = #{reportNote}
		WHERE
			report_id = #{reportId,jdbcType=VARCHAR}
	</update>
	
<sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        report_id, report_type, report_theme, report_date, emp_id, report_note, 
        report_file
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.megagao.production.ssm.domain.ReportExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from report
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from report
        where report_id = #{reportId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from report
        where report_id = #{reportId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.megagao.production.ssm.domain.ReportExample" >
        delete from report
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.megagao.production.ssm.domain.ReportExample" >
        insert into report (report_id, report_type, report_theme, 
            report_date, emp_id, report_note, 
            report_file)
        values (#{reportId,jdbcType=VARCHAR}, #{reportType,jdbcType=VARCHAR}, #{reportTheme,jdbcType=VARCHAR}, 
            #{reportDate,jdbcType=TIMESTAMP}, #{empId,jdbcType=VARCHAR}, #{reportNote,jdbcType=VARCHAR}, 
            #{reportFile,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.megagao.production.ssm.domain.Report" >
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="reportId != null" >
                report_id,
            </if>
            <if test="reportType != null" >
                report_type,
            </if>
            <if test="reportTheme != null" >
                report_theme,
            </if>
            <if test="reportDate != null" >
                report_date,
            </if>
            <if test="empId != null" >
                emp_id,
            </if>
            <if test="reportNote != null" >
                report_note,
            </if>
            <if test="reportFile != null" >
                report_file,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="reportId != null" >
                #{reportId,jdbcType=VARCHAR},
            </if>
            <if test="reportType != null" >
                #{reportType,jdbcType=VARCHAR},
            </if>
            <if test="reportTheme != null" >
                #{reportTheme,jdbcType=VARCHAR},
            </if>
            <if test="reportDate != null" >
                #{reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="empId != null" >
                #{empId,jdbcType=VARCHAR},
            </if>
            <if test="reportNote != null" >
                #{reportNote,jdbcType=VARCHAR},
            </if>
            <if test="reportFile != null" >
                #{reportFile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.megagao.production.ssm.domain.ReportExample" resultType="java.lang.Integer" >
        select count(*) from report
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update report
        <set >
            <if test="record.reportId != null" >
                report_id = #{record.reportId,jdbcType=VARCHAR},
            </if>
            <if test="record.reportType != null" >
                report_type = #{record.reportType,jdbcType=VARCHAR},
            </if>
            <if test="record.reportTheme != null" >
                report_theme = #{record.reportTheme,jdbcType=VARCHAR},
            </if>
            <if test="record.reportDate != null" >
                report_date = #{record.reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.empId != null" >
                emp_id = #{record.empId,jdbcType=VARCHAR},
            </if>
            <if test="record.reportNote != null" >
                report_note = #{record.reportNote,jdbcType=VARCHAR},
            </if>
            <if test="record.reportFile != null" >
                report_file = #{record.reportFile,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update report
        set report_id = #{record.reportId,jdbcType=VARCHAR},
            report_type = #{record.reportType,jdbcType=VARCHAR},
            report_theme = #{record.reportTheme,jdbcType=VARCHAR},
            report_date = #{record.reportDate,jdbcType=TIMESTAMP},
            emp_id = #{record.empId,jdbcType=VARCHAR},
            report_note = #{record.reportNote,jdbcType=VARCHAR},
            report_file = #{record.reportFile,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.megagao.production.ssm.domain.Report" >
        update report
        <set >
            <if test="reportType != null" >
                report_type = #{reportType,jdbcType=VARCHAR},
            </if>
            <if test="reportTheme != null" >
                report_theme = #{reportTheme,jdbcType=VARCHAR},
            </if>
            <if test="reportDate != null" >
                report_date = #{reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="empId != null" >
                emp_id = #{empId,jdbcType=VARCHAR},
            </if>
            <if test="reportNote != null" >
                report_note = #{reportNote,jdbcType=VARCHAR},
            </if>
            <if test="reportFile != null" >
                report_file = #{reportFile,jdbcType=VARCHAR},
            </if>
        </set>
        where report_id = #{reportId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.megagao.production.ssm.domain.Report" >
        update report
        set report_type = #{reportType,jdbcType=VARCHAR},
            report_theme = #{reportTheme,jdbcType=VARCHAR},
            report_date = #{reportDate,jdbcType=TIMESTAMP},
            emp_id = #{empId,jdbcType=VARCHAR},
            report_note = #{reportNote,jdbcType=VARCHAR},
            report_file = #{reportFile,jdbcType=VARCHAR}
        where report_id = #{reportId,jdbcType=VARCHAR}
    </update>
</mapper>